// .navbar-container{
//    height: 8vh;
// }
.container-personal-info {
  flex-direction: row;
}
.carusel-container {
   .card-container{
      .opacity-container{
         background-color: #000;
         opacity: 0.4;
      }
     .opacity-container:hover {
       opacity: 0;
     }
     a{
     background-color: #fff;
       border-radius: 0 0 10px 10px;
       color: #222;
      }
     a:hover{
       background-color: green;
       color: #fefefe;
       border-radius: 0 0 10px 10px;
     }
  }
}

// footer{
//    height: 8vh;
// }
ul {
  width: 68%;
}
